<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/matkaklubi.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Matkaklubi | Kontakt</title>
</head>
<body>
    <div class="container-fluid paisetaust">
        <div class="container">
            <%- include ("../partials/pais.ejs") %>
            
            <div class="kontakteerumisala">
                
                <h3>Registreeru matkale <%= matkaAndmed.nimetus %></h3>
                <p>
                    <%= matkaAndmed.kirjeldus %>
                </p>
                <p>
                    <!--Kuvan info elegantselt öeldes, et "enne Teid" -- see ei kohusta suurendama registreerunute arvu asünkroonselt eksootilisi teid pidi hiljem -->
                    Sellele matkale on registreerunud enne Teid inimesi täpselt <%= matkaAndmed.registreerunud.length %> (kohti kokku <%= matkaAndmed.kohti %>).
                </p>
                <div class="sisestus">
                    <label for="nimi">Teie nimi/e-mail:</label>
                    <input type="text" name="nimi" id="nimi" size="30"><br>
                    <label for="teade">Teade:</label><br>
                    <textarea id="teade" name="teade" rows="5" cols="60"></textarea><br>
                    <!--index.js-st saab mall registreeru.ejs oma andmed!!!!!!!-->
                    <button id="saatmiseLyliti" onclick="registreeru(<%= matkaNumber %>)">Saada!</button>
                    
                </div>
                
                <div id="teadeKasutajale"></div>
                <div>
                    <button id="naasmiseLyliti" onclick="pealehele()">&lt;&lt;Tagasi pealehele!</button>
                </div>
            </div>

        </div>
    </div>

    <script src="/registreeru.js"></script>
</body>
</html>